<h1>Listing <%= @projects.length  if @projects != nil%> Someday/May be Projects</h1>

<% if @projects != nil and @projects.count != 0 %>

  <%= content_tag "ol", class: "sortable_tree",  data: {rebuild_url: rebuild_projects_url} do %>
    <%=  sortable_tree @projects, :locals => { :chores => @chores, :choretypes => @choretypes }%>
  <% end%>

<% else %>
   <h2>No projects there, all projects are active</h2>
<% end %>

<%= link_to 'New Project', new_project_path,{:class => "btn btn-large btn-primary"}  %>

<p><%=link_to 'Active projects',projects_path %></p>
