<h1>Listing contexts</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @contexts.length != 0%>

<% @contexts.each do |context| %>
  <tr>
    <td><%= context.name %></td>
    <td><%= link_to 'Show', context,{:class => "btn btn-info"}  %></td>
    <td><%= link_to 'Edit', edit_context_path(context),{:class => "btn btn-primary"}  %></td>
    <td><%= link_to 'Destroy', context, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger"  %></td>
  </tr>
 <% end %>
 <% else %>
   <tr><td colspan=8>No contexts yet, create one!</td><tr>
 <% end %>
</table>

<br />

<%= link_to 'New Context', new_context_path,{:class => "btn btn-large btn-primary"}  %>
