<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
 <div class = "col-md-4">
  <div class="field">
    <%= f.label :email %><br />
    <%= collection_select(:chore, :email_id, @emails, :id, :subject, {include_blank: 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :choretype %><br />
    <%= collection_select(:chore, :choretype_id, Choretype.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= collection_select(:chore, :project_id, @projects, :id, :title) %>
  </div>
</div>

<%= render :partial => "schedule", :locals => {:f => f} %>

</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
