<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => "90" %>
  </div>
 <div class="field">
    <%= f.label :project %><br />
    <%= select_tag :project_id, nested_options(@projects, :selected => @chore.project), class: :nested_options, name: "chore[project_id]", id: "chore[project_id]" %>
  </div>
 <div class="field">
    <%= f.label :next_action %><br />
    <%= f.check_box :next_action %>
  </div>
  <div class="field">
    <%= f.label :choretype %><br />
    <%= collection_select(:chore, :choretype_id, Choretype.all, :id, :name, {}, {'data-behaviour' => 'choretype_select'})%>
  </div>
  
<div class="panel panel-primary" id="first_appointment_panel">
 <div class="panel-heading">First appointment</div>
 <div class="panel-body">
    
  <div class="field" >
    <%= f.label :startdate %><br />
    <% if @chore.startdate != nil %>
     <input type="text" data-behaviour='datepicker'  value="<%=@chore.startdate.to_s(:due_date)%>" name="chore[startdate]" id="chore_startdate">
    <% else %>
      <input type="text" data-behaviour='datepicker'  value="not set"  name="chore[startdate]" id="chore_startdate">
    <%end%>
  </div>
     
  <div class="field" >
    <%= f.label :deadline %><br />
    <% if @chore.deadline != nil %>
     <input type="text" data-behaviour='datepicker'  value="<%=@chore.deadline.to_s(:due_date)%>" name="chore[deadline]" id="chore_deadline">
    <% else %>
      <input type="text" data-behaviour='datepicker'  value="not set"  name="chore[deadline]" id="chore_deadline">
    <%end%>
  </div>
 
  <div class="field">
    <%= f.label :all_day %><br />
    <%= f.check_box :all_day, data: {'behaviour' => 'all_day_checkbox'} %>
  </div>
     
  <div class="field" id="start_time">
    Start time<br />
   
    <% if @chore.startdate != nil %>
     
     <%= time_select "start_time", "time", {:ampm=> true,:selected => Time.parse(@chore.startdate.to_s), :minute_step => 15} %>
    <% else %>
      <%= time_select "start_time", "time",{:ampm=> true, :minute_step => 15} %>
    <%end%>
  </div> 
     
  <div class="field" id="end_time">
    End time<br />
    <% if @chore.deadline != nil %>
     <%= time_select "end_time", "time",{:ampm=> true, :selected => Time.parse(@chore.deadline.to_s), :minute_step => 15} %>
    <% else %>
     <%= time_select "end_time", "time",{:ampm=> true, :minute_step => 15} %>
    <%end%>
  </div>     
 
 </div>
</div>


<div class="panel panel-primary" id="frequency_panel">
 <div class="panel-heading">Frequency:</div>
 <div class="panel-body">
 
 <%= f.select_recurring :schedule, nil, :allow_blank => true %>
  
 </div>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= collection_select(:chore, :email_id, @emails, :id, :subject, {include_blank: 'None'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
