<h1>Listing <%= @chores.length  if @chores != nil%> active chores</h1>

 <ul class="nav nav-tabs">
<% if @contexts.length == 0 %>
No contexts yet, create one!
<% else %>
 <% @contexts.each do |context| %>
    <% if context.id.to_s == @active_context.to_s%>
     <li class="active"><%=link_to context.name, chores_path(:context => context.id, :choretype => @active_choretype.to_s) %></li>
    <% else %>
     <li><%=link_to context.name, chores_path(:context => context.id, :choretype => @active_choretype.to_s) %></li>
    <% end %>
 <% end %>
  </ul>

 <ul class="nav nav-pills">

 <% @choretypes.each do |choretype| %>
    <% if choretype.id.to_s == @active_choretype.to_s%>
     <li class="active"><%=link_to choretype.name, chores_path(:context => @active_context, :choretype => choretype) %></li>
    <% else %>
     <li><%=link_to choretype.name, chores_path(:context => @active_context, :choretype => choretype) %></li>
    <% end %>
 <% end %>
  <li><%=link_to 'Projects',projects_path(:context => @active_context) %></li>
 </ul>

 <table class="table">
   <tr>
     <th>Project</th>
     <th>Title</th>
     <th>Email</th>
     <th>Start Date</th>
     <th>Deadline</th>
     <th>Schedule</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>

 <% if @chores != nil%>
  <% @chores.each do |chore| %>
   <tr>
     <td><%= chore.project.title %></td>
     <td><%= chore.title %></td>
     <td>
       <%if chore.email == nil %>
        -
       <%else %>
        <%= chore.email.subject %>
       <%end %>
     </td>
     <td>
       <% if chore.startdate != nil %>
        <%= chore.startdate.to_s(:due_date) %>
       <% else %>
        -
       <%end%>
     </td>
     <td>
       <% if chore.deadline != nil %>
        <%= chore.deadline.to_s(:due_date) %>
       <% else %>
        -
       <%end%>
     </td>
     <td>
      <% if(chore.schedule!= "null" and chore.schedule != nil)%>
       <%= RecurringSelect.dirty_hash_to_rule(chore.schedule) %>
      <% else %>
       -
      <%end%>  
     </td>
     
     <td><%= link_to 'Show', chore,{:class => "btn btn-info"}  %></td>
     <td><%= link_to 'Edit', edit_chore_path(chore),{:class => "btn btn-primary"} %></td>
     <td><%= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
   </tr>
  <% end %>
 <% else %>
   <tr><td colspan=9>No chores yet, create one!</td><tr>
 <% end %>
 </table>

 <br />

 <%= link_to 'New Chore', new_chore_path, {:class => "btn btn-large btn-primary"} %>
 
 <% if (@active_choretype.to_s == '3') %>
 <h2>Calendar view</h2>
 
 <% end %>
<% end %>
