<h1>Listing chores</h1>

 <ul class="nav nav-tabs">
<% if @contexts.length == 0 %>
No contexts yet, create one!
<% else %>
 <% @contexts.each do |context| %>
    <% if context.id.to_s == @active_context.to_s%>
     <li class="active"><%=link_to context.name, chores_path(:context => context.id, :choretype => @active_choretype.to_s) %></li>
    <% else %>
     <li><%=link_to context.name, chores_path(:context => context.id, :choretype => @active_choretype.to_s) %></li>
    <% end %>
 <% end %>
  </ul>

 <ul class="nav nav-pills">

 <% @choretypes.each do |choretype| %>
    <% if choretype.id.to_s == @active_choretype.to_s%>
     <li class="active"><%=link_to choretype.name, chores_path(:context => @active_context, :choretype => choretype) %></li>
    <% else %>
     <li><%=link_to choretype.name, chores_path(:context => @active_context, :choretype => choretype) %></li>
    <% end %>
 <% end %>
  <li><%=link_to 'Projects',projects_path(:context => @active_context) %></li>
 </ul>


 <table class="table">
   <tr>
     <th>Email</th>
     <th>Title</th>
     <th>Deadline</th>
     <th>Type</th>
     <th>Project</th>
     <th></th>
     <th></th>
     <th></th>
   </tr>

 <% if @chores.length != 0%>
  <% @chores.each do |chore| %>
   <tr>
     <td>
  <%if chore.email == nil %>
      -
    <%else %>
     <%= chore.email.subject %>
    <%end %>

     </td>
     <td><%= chore.title %></td>
     <% if chore.deadline != nil %>
      <td><%= chore.deadline.to_s(:due_date) %></td>
     <% else %>
      <td>-</td>
     <%end%>
     <td><%= chore.choretype.name %></td>
     <td><%= chore.project.title %></td>
     <td><%= link_to 'Show', chore,{:class => "btn btn-info"}  %></td>
     <td><%= link_to 'Edit', edit_chore_path(chore),{:class => "btn btn-primary"} %></td>
     <td><%= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
   </tr>
  <% end %>
 <% else %>
   <tr><td colspan=8>No chores yet, create one!</td><tr>
 <% end %>
 </table>

 <br />

 <%= link_to 'New Chore', new_chore_path, {:class => "btn btn-large btn-primary"} %>
<% end %>
