<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
     <%if @chore.email_id == nil %>
      -
    <%else %>
     <%= @chore.email.subject %>
    <%end %>
</p>

<p>
  <b>Title:</b>
  <%= @chore.title %>
</p>

<p>
  <b>Start Date:</b>
  <% if @chore.startdate != nil %>
   <%= @chore.startdate.to_s(:due_date) %>
  <% else %>
    -
  <%end%>
</p>

<p>
  <b>Deadline:</b>
  <% if @chore.deadline != nil %>
   <%= @chore.deadline.to_s(:due_date) %>
  <% else %>
    -
  <%end%>
</p>

<p>
  <b>Type:</b>
  <%= @chore.choretype.name %>
</p>

<p>
  <b>Project:</b>
  <%= @chore.project.title %>
</p>

<p>
  <b>Schedule:</b>
   <% if(@chore.schedule!= {} and @chore.schedule != nil)%>
    <%=IceCube::Schedule.from_hash(@chore.schedule).to_s %>
   <% else %>
    not recurring
  <%end%>
</p>



<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
