<h1>Listing <%= @chores.length%> active chores</h1>


 <table class="table">
   <tr>
     <th>Context</th>
     <th>Project</th>
     <th>Type</th>
     <th>Title</th>
     <th>Start Date</th>
     <th>Deadline</th>
     <th>Schedule</th>
   </tr>

 <% if @chores.length >0%>
  <% @chores.each do |chore| %>
   <tr>
     <td>
       <% if chore.project_id != nil %>
        <%= chore.project.context.name %>
       <% else %>
        -
       <%end%>
     </td>
     <td>
        <%project_id_iterator = chore.project_id%>
        <%project_path = ''%>
        <%while project_id_iterator != nil%>
          <%project_path =  link_to(@projects.find(project_id_iterator).title, edit_project_path(@projects.find(project_id_iterator))) +' > '+ project_path%>
          <% project_id_iterator = @projects.find(project_id_iterator).parent_project_id %>
        <%end%>
        <%=project_path%>
     </td>
     
      <td>
       <% if chore.choretype_id != nil %>
        <%= chore.choretype.name %>
       <% else %>
        -
       <%end%>
     </td>
     
     <td><%= link_to chore.title, edit_chore_path(chore)%></td>
     
     <td>
       <% if chore.startdate != nil %>
        <%= chore.startdate.to_s(:due_date) %>
       <% else %>
        -
       <%end%>
     </td>
     <td>
       <% if chore.deadline != nil %>
        <%= chore.deadline.to_s(:due_date) %>
       <% else %>
        -
       <%end%>
     </td>
     <td>
      <% if(chore.schedule != {} and chore.schedule != nil)%>
       <%= RecurringSelect.dirty_hash_to_rule(chore.schedule).to_s%>
      <% else %>
       -
      <%end%>  
     </td>
    
   </tr>
  <% end %>
 <% else %>
   <tr><td colspan=9>No chores archived yet</td><tr>
 <% end %>
 </table>
