<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
     <%if @chore.email_id == nil %>
      -
    <%else %>
     <%= @chore.email.subject %>
    <%end %>
</p>

<p>
  <b>Title:</b>
  <%= @chore.title %>
</p>

<p>
  <b>Deadline:</b>
  <%= @chore.deadline %>
</p>

<p>
  <b>Type:</b>
  <%= @chore.choretype.name %>
</p>

<p>
  <b>Project:</b>
  <%= @chore.project.title %>
</p>


<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
