<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>


  <div class="field">
    <%= f.label :datetime %><br />
    <% if @email.datetime != nil %>
     <input type="text" data-behaviour='datepicker'  value="<%=@email.datetime.to_s(:due_date)%>" class="span2" name="email[datetime]" id="email_datetime">
    <% else %>
      <input type="text" data-behaviour='datepicker'  value="" class="span2" name="email[datetime]" id="email_datetime">
    <%end%>
   <span class="add-on"><i class="icon-th"></i></span>

  </div>


  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script type="text/javascript">
$('.input-append.date').datepicker({
format: "yyyy-mm-dd",
clearBtn: true
});
</script>

