<% content_for :subtitle, "Inbox with emails" %>

<% @inboxes.each do |email_address, inbox| %>
<h1>Listing <%= @email_threads[email_address].count%> email threads from <%= @my_provider[email_address] %> email <%= email_address %></h1>

<table class="table">
  <tr>
    <th>From</th>
    <th>Messages</th>
    <th>Subject</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>

<% if @email_threads[email_address].count != 0%>

<% @email_threads[email_address].each do |thread| %>
  <tr>
    <td>
      <% thread.participants.each do |participant| %>
       <%if participant['email'] != email_address%>
        <%=participant['email'] %><br>
       <% end %>
      <% end %>
    </td>
   
    <td><%= thread.message_ids.length%></td> 
    <td><%= thread.subject %></td>
    <td><%= thread.snippet %></td>
    <td><%= link_to 'Show Messages', show_messages_emails_path(:thread_id => thread.id, :email_address => email_address),{:class => "btn btn-primary"}  %></td>
    <td><%= link_to 'Delete', delete_thread_emails_path(:thread_id =>thread.id, :email_address => email_address), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger"  %></td>
  </tr>
<% end %>
 <% else %>
   <tr><td colspan=8>No emails yet, create one!</td><tr>

<% end %>
</table>

<%end %>


<br />

<%= link_to 'New Email', new_email_path,{:class => "btn btn-large btn-primary"}  %>
