<h1>Listing <%= @emails.length  if @emails != nil%> emails</h1>

<table class="table">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Received</th>
    <th>Subject</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @emails.length != 0%>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.from %></td>
    <td><%= email.to %></td>
    <% if email.datetime != nil %>
     <td><%= email.datetime.to_s(:due_date) %></td>
    <% else %>
     <td>-</td>
    <%end%>
    <td><%= email.subject %></td>
    <td><%= email.body %></td>
    <td><%= link_to 'Show', email,{:class => "btn btn-info"}  %></td>
    <td><%= link_to 'Edit', edit_email_path(email),{:class => "btn btn-primary"}  %></td>
    <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger"  %></td>
  </tr>
<% end %>
 <% else %>
   <tr><td colspan=8>No emails yet, create one!</td><tr>

<% end %>
</table>

<br />

<%= link_to 'New Email', new_email_path,{:class => "btn btn-large btn-primary"}  %>
