    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-left">
        <div class="container">
          <% if user_signed_in? %>
          <%= link_to "Home", '/', id: "logo" %>
          <%= link_to "Emails", emails_path, id: "logo" %>
          <%= link_to "Chores", chores_path, id: "logo" %>
          <%= link_to "Projects", projects_path, id: "logo" %>
          <%= link_to "Contexts", contexts_path, id: "logo" %>
          <% else %>
          <%= link_to "Chores", '/', id: "logo" %>
          <% end %>
       </div>
      </div>

      <div class="nabvar-text navbar-right">

               <% if user_signed_in? %>
              Signed in as: <%= current_user.email %>
	      <%= link_to('Log Out',
                          destroy_user_session_path, {:method => 'delete', :confirm => 'Are you sure?'}, 
                       {:class => "navbar-link"})%>
              <% else %>
              <%= link_to('Log In', new_user_session_path, {:class => "navbar-link"}) %>
            <% end %>
      </div>
    </header>

