<!DOCTYPE html>
<html>
<head>
  <title>Chores</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="wrap">
    <div class="container-fluid">
      <%= yield %>
    </div>
<div id="push"></div>
</div>
<div style = "margin-bottom: 50px;"></div>
<%= render 'layouts/footer' %>
</body>
</html>
